<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Free Code Camp - File Metadata Microservice</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  </head>
  <body class=" hasGoogleVoiceExt">
    <div class="container">
      <h1 class="header">Free Code Camp - File Metadata Microservice</h1>
        <p>User stories:</p>
        <ul>
          <li>1) I can submit a FormData object that includes a file upload.</li>
          <li>2) When I submit something, I will receive the file size in bytes within the JSON response.</li>
        </ul>
        Submit a file to view its filesize.
        <form action="/get-file-size" method="post" enctype="multipart/form-data">
          <input type="file" name="file">
          <input type="submit">
        </form>
    </div>
  </body>
</html>